<form action="/portfolio" method="post">

  <div class="container">
    <h1>Add NEW stock</h1>
    <p>Please fill in this form with information about your assets.</p>


    <label for="ticker"><b>Ticker</b></label>
    <input type="text" placeholder="Enter ticker" name="ticker" id="ticker" required>

    <label for="amount"><b>amount</b></label>
    <input type="text" placeholder="Enter amount" name="amount" id="amount" required>

    <!-- <label for="Date"><b> date </b></label>
    <input type="datetime-local"  name="date" id="date" required> -->
    <hr>

    <button type="submit" class="registerbtn">Add</button>
  </div>
</form>
